html body{
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.App {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: gray;
  justify-content: center;
  align-items: center;
  text-align: center;

}
@keyframes buttonTranslate {
  from {
    box-shadow: 0 12px gray;
  }
  50%{
    transform: translateY(8px);
    box-shadow: 0 4px #666;
  }
  to {
    transform: translateY(0px);
    box-shadow: 0 12px gray;
  }
}